<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  
  <body>
  
      <script src="/js/loadHeader.js"></script>
      <header class="d-flex bg-white">
          <!--header code from loadHeader.js-->
      </header>
     <!-- Container with form for name,email, message and submit button -->
  <div  class="container-fluid d-flex mt-5 ml-2">
    <section class="main-section  position-static wrapper col-lg-4 col-md-4 col-sm-12 mx-auto pt-3 pb-3 pr-5 bg-white">

      <div class="icons icons3 p-3 mt-2 pl-5">
          <i class="fa fa-github" aria-hidden= "true"></i>
          <a href="https://github.com/sreeveena" class="p-3 text-dark"> Github</a>
      </div> 
      <div class="icons icons3 p-3 mt-2 pl-5">
          <i class="fa fa-linkedin" aria-hidden= "true"></i>
          <a href="https://linkedin.com/in/sreeveena-pulicherla-6a4603a" class="p-3 text-dark">Linkedin</a>
      </div>    
      <div class="icons icons3 p-3 mt-2 pl-5">
        <i class="fa fa-envelope-o" aria-hidden= "true"></i>
        <h6 class=" pl-5"> Sreeveena21@gmail.com</h6>
      </div>
    </section>
    <section class="main-section  position-static  col-lg-8 col-md-8 col-sm-12 mx-auto pt-3 pb-3 pr-5 bg-white"></section>
    
  </div>

  
      <!-- sticky footer with 2 rows with different dimensions and background color  -->
      <footer class="page-footer bg-dark fixed-bottom mt-5">
          <!--footer code from footer.js-->
      </footer>
  </body>
  
  </html>