<div class="nav  justify-content-end align-center mx-auto">
    <div class="name text-center  mr-auto p-3 mt-2">
        <a href="/views/portfolio.html" id="logo"><img src="/images/sree2.png" class="rounded"></a>
    </div>
    <div class="nav-link  ml-5 mt-2">
        <a href="/views/index.html" class="text-secondary text-center ">About</a>
    </div>
    <div class="nav-link mt-2">
        <a href="/views/portfolio.html"
            class="text-secondary border border-secondary border-top-0 border-bottom-0 text-center pl-3 pr-4 ">Portfolio</a>
    </div>
    <div class="nav-link  mt-2">
        <a href="/views/contact.html" class="text-secondary text-center"> Contact</a>
    </div>
</div>