<!doctype html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <link rel="stylesheet" type="text/css" href="/css/style1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    <script src="/js/loadHeader.js"></script>
    <header class="d-flex bg-white">
        <!--header code from loadHeader.js-->
    </header>
    <!-- container with float left for image and description-->
   <!--Train Schedule-->
   <div class="row pl-3">
    <div class="col-md-7 col-xs-12">
        <h4>Train Schedule</h4>
      <p>In this train schedule assignment the program will take following input value from user: Train name, destination, 
        first train time and frequency of train on click of the submit button and calculate next arrival time and number 
        of minutes away from the station and gives the information to the user.</p>

      <p>Technologies used: HTML, CSS, Bootstrap, Javascript, Jquery, and firebase </p>
      
      <div class="container">
          <p><a href="https://sreeveena.github.io/TrainSchedule/">GitHub Repo</a></p>
      </div>
    </div>
    <div class="col-md-5 col-xs-12">
      <img src="assets/images/train.png" alt="Train" class="img-fluid position-relative pt-4" style="height: 250px; width: 380px">
    </div>
  </div>

    <!-- sticky footer with 2 rows with different dimensions and background color  -->
    <footer class="page-footer bg-dark fixed-bottom mt-5">
        <!--footer code from footer.js-->
    </footer>
</body>

</html>